<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Mini Whatsapp</title>
     <link rel="stylesheet" href="/chat.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
     <h1>All Chats</h1>
     <form method="GET" action="/chats/new">
          <button class="new"> New chat </button>
     </form>
     <% for(let chat of chats ){ %>
          <div class="chat">
               <div class="contents">
                    <p class="from">From : <%=chat.from%></p>
                    <div class="msg">
                         <p class="message"><%=chat.msg%></p>
                         <form method="GET" action="/chats/<%=chat._id%>/edit">
                              <button class="edit">Edit</button>
                         </form>
                         <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE">
                              <button class="delete">Delete</button>
                         </form>
                    </div>
                    <p class="recived">Received : <%=chat.to%></p>
                    <div class="datetime">
                         <p class="date"><%=chat.created_at.toString().split(" ")[4]%></p>
                         <p class="alldate"><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
                    </div>
               </div>
          </div>
     <% } %>
</body>
</html>