<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>edit chat</title>
     <link rel="stylesheet" href="/edit.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
     <h1>Edit the chat here</h1>
     <h2><b>ID: <%=chat._id%></b></h2>
     <p>This chat is sent from... : <b><%=chat.from%></b> to <b><%=chat.to%></b></p>
     <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
          <textarea name="msg" rows="10" cols="50" placeholder="write your edit messgae here...."><%=chat.msg%></textarea>
          <br/>
          <br/>
          <button>Edit</button>
     </form>

</body>
</html>